[global_config]
  always_split_with_profile = True
  inactive_color_offset = 1.0
  suppress_multiple_term_dialog = True
  title_inactive_fg_color = "#ffffff"
[keybindings]
  close_term = <Primary><Shift>w
  close_window = <Primary><Shift>aring
  go_down = <Alt>j
  go_left = <Alt>h
  go_next = <Primary><Alt>aring
  go_right = <Alt>l
  go_up = <Alt>k
  layout_launcher = <Primary>ae
  new_tab = <Primary>t
  new_terminator = <Shift><Super>t
  next_tab = <Primary>l
  prev_tab = <Primary>h
  split_horiz = <Primary>o
  split_vert = <Primary>i
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#132738"
    background_darkness = 0.99
    background_image = None
    background_type = transparent
    color_scheme = custom
    cursor_color = "#f0cc09"
    font = Monospace 10
    palette = "#000000:#ff0000:#38de21:#ffe50a:#1460d2:#ff005d:#00bbbb:#bbbbbb:#555555:#f40e17:#3bd01d:#edc809:#5555ff:#ff55ff:#6ae3fa:#ffffff"
    scroll_on_output = False
    scrollback_infinite = True
    show_titlebar = False
  [[default--cv]]
    background_color = ""
    background_darkness = 0.0
    background_image = None
    font = Mono 8
    force_no_bell = True
    foreground_color = ""
    palette = ""
    scrollbar_position = disabled
  [[default-x]]
    background_color = "#ffffdd"
    background_image = None
    foreground_color = "#000000"
