[global_config]
  always_split_with_profile = True
  title_inactive_fg_color = "#ffffff"
  inactive_color_offset = 1.0
[keybindings]
  next_tab = <Primary>l
  go_up = <Alt>k
  close_window = <Primary><Shift>aring
  split_horiz = <Primary>o
  prev_tab = <Primary>h
  go_down = <Alt>j
  close_term = <Primary>w
  split_vert = <Primary>i
  go_right = <Alt>l
  new_tab = <Primary>t
  go_left = <Alt>h
  go_next = <Primary><Alt>aring
[profiles]
  [[default]]
    palette = "#000000:#ff0000:#38de21:#ffe50a:#1460d2:#ff005d:#00bbbb:#bbbbbb:#555555:#f40e17:#3bd01d:#edc809:#5555ff:#ff55ff:#6ae3fa:#ffffff"
    background_darkness = 0.99
    background_type = transparent
    background_image = None
    cursor_color = "#f0cc09"
    scroll_on_output = False
    show_titlebar = False
    color_scheme = custom
    font = Monospace 10
    background_color = "#132738"
    scrollback_infinite = True
  [[default-x]]
    background_image = None
    background_color = "#ffffdd"
    foreground_color = "#000000"
  [[default--cv]]
    scrollbar_position = disabled
    palette = ""
    background_darkness = 0.0
    force_no_bell = True
    background_image = None
    foreground_color = ""
    font = Mono 8
    background_color = ""
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
